.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem 1rem;
  min-height: 60vh;
  background-color: #eff0f0;
}

.about-text {
  flex: 1 1 400px;
  padding: 1rem;
}

.about-title {
  position: relative;
  font-size: 2.3rem;
  color: #273144;
  font-weight: 900;
  letter-spacing: 0.07em;
  margin-bottom: 55px;
  text-align: center;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 1rem;
}

.social-icons {
  margin-top: 1rem;
}

.social-icons a {
  margin-right: 15px;
  color: #3f9483;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff6600;
}

.about-image {
  flex: 1 1 400px;
  padding: 1rem;
  text-align: center;
}

.about-image img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .about-text,
  .about-image {
    flex: unset;
    padding: 0.5rem 0;
  }
  .about-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  .about-text p {
    text-align: justify;
    font-size: 0.8rem;
  }
  .social-icons {
    justify-content: center;
  }
  .social-icons a {
    font-size: 1.5rem;
  }

   .about-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
  }
}
