.trading-view-ticker {
  position: fixed;
  top: 0;
  max-width: 1905px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 1100;
}

.trading-view-ticker {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
