.tradingview-widget-container {
  border-radius: 10px;
  overflow: hidden;
  height: 665px;
  width: 100%;
}

.section-title {
  padding-bottom: 30px;
  text-align: center;
}

.forex-widget-title {
  position: relative;
  font-size: 2.3rem;
  color: #273144;
  font-weight: 900;
  letter-spacing: 0.07em;
  margin-bottom: 55px;
  text-align: center;
}

.section-title h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 768px) {
  .forex-widget-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .section-title h3 {
    font-size: 0.8rem;
    margin: 0;
  }
}
